div.carousel

	figure.carousel__slide.carousel__slide--current

		img.image(src='http://placecage.com/920/480')

		figcaption.image-caption
			h1.image-caption__title Nicholas Cage
			p.image-caption__text Every great story seems to begin with a snake.
			a.image-caption__link Learn More &raquo;
	
	figure.carousel__slide.carousel__slide--next

		img.image(src='http://fillmurray.com/920/480')

		figcaption.image-caption
			h1.image-caption__title Bill Murray
			p.image-caption__text I'm a nut, but not just a nut.
			a.image-caption__link Learn More &raquo;
	
	figure.carousel__slide.carousel__slide--prev

		img.image(src='http://placesheen.com/920/480')

		figcaption.image-caption
			h1.image-caption__title Charlie Sheen
			p.image-caption__text Boom, crush. Night, losers. Winning, duh.
			a.image-caption__link Learn More &raquo;