div.carousel
	figure.carousel__slide--current
		img.slide-image(src='http://placecage.com/920/480')
		figcaption.caption
			h1.caption__title Nicholas Cage
			p.caption__text Every great story seems to begin with a snake.
			a.caption__link Learn More &raquo;
	figure.carousel__slide
		img.slide-image(src='http://fillmurray.com/920/480')
		figcaption.caption
			h1.caption__title Bill Murray
			p.caption__text I'm a nut, but not just a nut.
			a.caption__link Learn More &raquo;
	figure.carousel__slide
		img.slide-image(src='http://placesheen.com/920/480')
		figcaption.caption
			h1.caption__title Charlie Sheen
			p.caption__text Boom, crush. Night, losers. Winning, duh.
			a.caption__link Learn More &raquo;
