// Library imports
@import "../../../bower_components/bootstrap/less/bootstrap.less";

// Carousel module
.carousel {
}

.carousel__slide {
	position: absolute;
	z-index: 1;
}

.carousel__slide--current {
	z-index: 2;
}

.image-caption {
	padding: 2.5% 5%;
	width: 100%;

	background-color: rgba(0, 0, 0, .75);
	color: white;

	bottom: 5%;
	position: absolute;
	z-index: 1;
}

.image-caption__title {
	margin: 0;
}

.image-caption__link {
	color: inherit;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}